.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form textarea {
  width: 460px;
  height: 260px;
  margin-bottom: 20px;
}

.form button {
  border: 0;
  height: 30px;
  width: calc(50% - 10px);
  display:inline-block;
	cursor:pointer;
  border-radius:6px;
  font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.form button:first-child {
  margin-right: 20px;
}
.form button[type=reset] {
  color:#777777;
  border-color:#dcdcdc;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  text-shadow:inset 0px 1px 0px #ffffff;
  background:linear-gradient(#ededed, #dfdfdf);
}
.form button[type=submit] {
  box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border:1px solid #268a16;
	color:#306108;
	text-shadow:0px 1px 0px #aade7c;
}